<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for=""name>Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="room.name" name="name">
        </div>

        <div class="form-group">
            <label for=""name>Date</label>
            <input type="text" class="form-control" id="date" required [(ngModel)]="room.date" name="date">
        </div>

        <div class="form-group">
            <label for=""name>Starting Time</label>
            <input type="text" class="form-control" id="startingTime" required [(ngModel)]="room.startingTime" name="startingTime">
        </div>

        <div class="form-group">
            <label for=""name>Ending Time</label>
            <input type="text" class="form-control" id="endingTime" required [(ngModel)]="room.endingTime" name="endingTime">
        </div>

        <button type="submit" class="btn btn-success" style="margin-top: 10px;">Create</button>
    </form>
</div>

<div [hidden]="!submitted">
    <button class="btn btn-success" (click)="newRoom()">Add</button> -->
</div>